<li>
	{{burger_name}}
{{#unless devoured}}
	<button class="change-devoured" data-id="{{id}}"">EAT ME!</button>
 {{/unless}}
	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
	
</li>
